{% extends 'login/navbar.html'%}
<!DOCTYPE html>
<html>
<head>

    <title>Password Reset</title>
</head>
<body>
    {%block content%}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="form-container">
        <form class="form" action="{% url 'login:reset' %}" method="post">
            {% csrf_token %}
            <p class="title">Password Reset</p>
            <p class="message">Password reset for created accounts.</p>
            <label>
                <input class="input" type="text" placeholder="" name="email" required>
                <span>Email</span>
            </label>
            <button class="submit" type="submit" value="Reset">Submit</button>
            <p class="signin">Return to login? <a href="{% url 'login:login' %}">Login</a></p>
        </form>
    </div>
    {%endblock%}
</body>
</html>