<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Login">
            <h1>Don't have an account?</h1>
            <a href="{% url 'login:register' %}">Register</a>
        </form>
    </body>
</html>