<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>

    <body>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login:register' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username" required>
            <br>
            <input type="password" placeholder="password" name="password" required>
            <br>
            <input type="password" placeholder="password Confirm" name="password_confirm" required>
            <br>
            <input type="text" placeholder="Email" name="email" required>
            <br>
            <select name="user_type" required>
                <option value="patient">Pacient</option>
                <option value="doctor">Doctor</option>
            </select>
            <br>
            <input type="submit" value="Register">
            <h1>Already have an account?</h1>
            <a href="{% url 'login:login' %}">Login</a>
        </form>
    </body>
</html>