<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="password">Confirm Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Create Account</button>
            <h1>Already have an account?</h1>
            <a href="{% url 'login:login' %}">Login</a>
        </form>
    </body>
</html>